.App {
  background-color: #fdf5f5;
}

/* .root-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* @media (max-width: 600px) {
  .root-container {
    justify-content: space-between;
  }
} */
/* 
@media (max-width: 400px) {
  .root-container {
  }
} */
